@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
  color: black;
  font-size: 17px;
  font-weight: bold;
  width: 70px;
  padding: 20px 0 20px 0;
  border: 1px solid #979797;
  transition: all 0.2s;
  border-radius: 10px;
  margin-bottom: 1px;
}

button:active{
  transform: scale(0.95);
  border: 1px solid #6d6d6d;
}

.App {
  display: flex;
  flex-flow: column;
  width: 100%;
  text-align: center;
}

.App h1{
  color: black;
  font-size: 48px;
  margin: 40px auto 0 auto;
}

.display {
  width: 40%;
  height: 35px;
  align-self: center;
  background: lightgray;
  padding: 15px;
  line-height: 35px;
  margin-top: 20px;
  border-radius: 8px;
}

.expression {
  height: 30px;
  color: rgb(122, 122, 122);
  margin: 10px 0;
  font-size: 16px;
}

.panel {
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-items: stretch;
  width: 215px;
  /* box-shadow: -1px 3px 10px rgb(119, 119, 119); */
}

.numbers button:last-child {
  width: 100%;
}

.operators {
  display: flex;
  flex-flow: column;
}

.operators button {
  color: white;
  background: rgb(7, 78, 233);
  border-left: none;
  border-bottom: 0;
  box-shadow: -1px 3px 10px rgb(119, 119, 119);
}


@media screen and (min-width: 300px) and (max-width: 558px) {
  .App h1{
    font-size: 35px;
    margin: 13px auto 0 auto;
  }

  .display {
    width: 70%;
  }

  .numbers{
    width: 215px;
  }

  button {
  width: 70px;
  font-size: 17px;
  }
}

@media screen and (min-width: 550px) and (max-width: 808px) {

  .App h1{
    font-size: 38px;
    margin: 20px auto 0 auto;
  }

  .display {
    width: 70%;
  }

  .numbers{
    width: 260px;
  }

  button {
  width: 85px;
  font-size: 19px;
  }
}


@media screen and (min-width: 808px) and (max-width: 1000px) {

  .App h1{
    font-size: 43px;
    margin: 20px auto 0 auto;
  }

  .display {
    width: 55%;
    margin-top: 15px;
  }

  .expression{
    margin: 6px 0;
  }

  .numbers{
    width: 305px;
  }

  button {
  width: 100px;
  font-size: 21px;
  }
}