button {
  color: black;
  font-size: 1rem;
  width: 70px;
  padding: 20px 0 20px 0;
  border: 1px solid #c4c4c4;
}

.App {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
}

.App h1{
  color: black;
  font-size: 48px;
  margin: 60px auto 0 auto;
}

.display {
  width: 40%;
  height: 35px;
  align-self: center;
  background: lightgray;
  padding: 15px;
  line-height: 35px;
  margin-top: 20px;
  border-radius: 8px;
}

.expression {
  height: 30px;
  color: rgb(122, 122, 122);
  margin: 10px 0;
  font-size: 16px;
}

.panel {
  display: flex;
  justify-content: center;
}

.numbers {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-items: stretch;
  width: 210px;
  box-shadow: -1px 3px 10px rgb(119, 119, 119);
}

.numbers button:last-child {
  width: 100%;
}

.operators {
  display: flex;
  flex-flow: column;
}

.operators button {
  color: white;
  background: rgb(7, 78, 233);
  border-left: none;
  border-bottom: 0;
}
